@charset "UTF-8";
body {
  margin: 0;
  font-family: "Lusitana", serif;
  font-size: 1.1rem;
  color: #333; }

input[type=submit] {
  background: #39b34f;
  height: 3rem;
  width: 8rem;
  border-radius: 2px;
  border: 1px solid #bdd749;
  transition: all 0.3s;
  cursor: pointer; }

input[type=submit]:hover {
  background: #277935; }

.right {
  text-align: right; }

.circle {
  border-radius: 50%; }

blockquote {
  overflow: hidden; }
  blockquote cite {
    float: right; }
    blockquote cite:before {
      content: "— "; }

.hide-detail .detail {
  display: none; }

section > * {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px; }

h2 {
  position: relative;
  z-index: 0;
  max-width: none;
  background: #bdd749;
  margin: 0;
  line-height: 3rem;
  text-align: center; }
  h2:before {
    content: "";
    position: absolute;
    z-index: -1;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -4px;
    width: 15rem;
    background: url(/r/flag_green.svg) no-repeat;
    height: 200%; }

header {
  position: fixed;
  z-index: 9;
  left: 0;
  right: 0;
  background: #fff;
  height: 128px;
  padding: 1rem;
  box-shadow: 0 0 2px #555; }

header > div {
  display: flex;
  justify-content: space-between;
  height: 100%;
  font-family: "Libre Baskerville", serif;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto; }
  header > div a {
    display: flex;
    align-items: center;
    height: 100%;
    color: inherit;
    text-decoration: none; }
  header > div img {
    height: 100%;
    padding: 1rem 0.4rem; }
  header > div h1, header > div span {
    font-size: 1.3rem;
    padding: 0 0.2rem;
    white-space: nowrap; }
    header > div h1 span, header > div span span {
      padding: 0; }

footer {
  position: fixed;
  z-index: 9;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  height: 8px;
  padding: 1rem;
  box-shadow: 0 0 2px #555;
  font-size: 1rem; }

footer > address {
  display: flex;
  justify-content: space-between;
  height: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  font-style: normal; }
  footer > address a {
    display: flex;
    align-items: center;
    height: 100%;
    color: inherit;
    text-decoration: none; }
  footer > address .a:before, footer > address .p:before, footer > address .e:before {
    font-weight: 700;
    padding-right: 0.5rem; }
  footer > address .a:before {
    content: "A"; }
  footer > address .p:before {
    content: "P"; }
  footer > address .e:before {
    content: "E"; }

main {
  padding-top: 10rem;
  padding-bottom: 8px; }

#blurb {
  text-align: center;
  background: #39b34f;
  padding: 1rem; }

#quote {
  background: #39b34f;
  padding: 1rem; }

#services, #error {
  background: #f6f6f6 url(/r/bg_hatch.png);
  border-bottom: 1px solid #bdd749; }

#services > ul, #error > p {
  padding: 1.5rem 0;
  text-align: center;
  border: none; }
  #services > ul h3, #error > p h3 {
    display: block;
    font-weight: 700;
    margin-bottom: 0; }
  #services > ul li, #error > p li {
    display: inline-block;
    position: relative;
    list-style: none;
    height: 10rem;
    width: 33%;
    min-width: 280px; }
    #services > ul li .face, #services > ul li .back, #error > p li .face, #error > p li .back {
      position: absolute;
      top: 50%;
      transition: all 0.25s;
      backface-visibility: hidden; }
    #services > ul li .face, #error > p li .face {
      left: 0;
      right: 0;
      transform: translateY(-50%); }
    #services > ul li .back, #error > p li .back {
      transform: translateY(-50%) rotateX(180deg);
      width: 90%;
      padding: 0 5%; }
    #services > ul li:hover .face, #services > ul li:hover .back, #error > p li:hover .face, #error > p li:hover .back {
      transition: all 0.5s; }
    #services > ul li:hover .face, #error > p li:hover .face {
      transform: translateY(-50%) rotateX(180deg); }
    #services > ul li:hover .back, #error > p li:hover .back {
      transform: translateY(-50%) rotateX(0deg); }
    #services > ul li img, #error > p li img {
      height: 4rem;
      width: 4rem; }

#error {
  position: absolute;
  height: 70%;
  width: 100%;
  border: none; }

#error > p {
  padding-top: 4rem; }

#about {
  background: #f6f6f6 url(/r/bg_dot.png);
  border-bottom: 1px solid #bdd749; }

#contact {
  background: #f6f6f6 url(/r/bg_grid.png);
  border-bottom: 1px solid #bdd749;
  padding-bottom: 2rem; }
  #contact form {
    padding: 3rem 0 0;
    display: flex;
    height: 16rem;
    width: 100%; }
    #contact form textarea, #contact form input {
      margin: 1rem;
      padding: 0.5rem; }
    #contact form textarea {
      flex: 2; }
    #contact form div {
      flex: 1;
      display: block; }
      #contact form div input {
        display: block; }

#credit {
  text-align: center;
  color: #777;
  padding: 1em 0 0; }
  #credit a {
    color: inherit;
    transition: all 0.3s;
    padding: 2rem 3rem 2rem 12rem;
    margin: -2rem -3rem -2rem -12rem; }
  #credit a:hover {
    color: #e3b630; }
