body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: #333; }

.right {
  text-align: right; }

.circle {
  border-radius: 50%; }

blockquote {
  overflow: hidden; }
  blockquote footer {
    float: right; }

.hide-detail .detail {
  display: none; }

section > * {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px; }

h2 {
  position: relative;
  z-index: 0;
  max-width: none;
  background: #eeeecd;
  margin: 0;
  line-height: 2em;
  text-align: center; }
  h2:before {
    content: "";
    position: absolute;
    z-index: -1;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -4px;
    width: 10em;
    background: url(/r/flag_orange.svg) no-repeat;
    height: 200%; }

header {
  position: fixed;
  z-index: 9;
  left: 0;
  right: 0;
  background: #fff;
  height: 128px;
  padding: 1em;
  box-shadow: 0 0 2px #555; }

header > div {
  display: flex;
  justify-content: space-between;
  height: 100%;
  font-family: "Ubuntu", sans-serif;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto; }
  header > div a {
    display: flex;
    align-items: center;
    height: 100%;
    color: inherit;
    text-decoration: none; }
  header > div img {
    height: 100%;
    padding: 1em 0.4em; }
  header > div h1, header > div span {
    font-size: 1.5rem;
    padding: 0 0.2em;
    white-space: nowrap; }
    header > div h1 span, header > div span span {
      padding: 0; }

main {
  padding-top: 10em; }

#blurb {
  text-align: center;
  background: #ecce73;
  padding: 1em; }

#services {
  background: #f8f8eb url(/r/bg_beige_hatch.png);
  border: 1px solid #eeeecd; }

#services > ul {
  padding: 1.5em 0;
  text-align: center;
  border: none; }
  #services > ul h3 {
    display: block;
    font-weight: 700;
    margin-bottom: 0; }
  #services > ul li {
    display: inline-block;
    position: relative;
    list-style: none;
    height: 10em;
    width: 33%;
    min-width: 280px; }
    #services > ul li .face, #services > ul li .back {
      position: absolute;
      top: 50%;
      transition: all 0.25s;
      backface-visibility: hidden; }
    #services > ul li .face {
      left: 0;
      right: 0;
      transform: translateY(-50%); }
    #services > ul li .back {
      transform: translateY(-50%) rotateX(180deg);
      width: 90%;
      padding: 0 5%; }
    #services > ul li:hover .face, #services > ul li:hover .back {
      transition: all 0.5s; }
    #services > ul li:hover .face {
      transform: translateY(-50%) rotateX(180deg); }
    #services > ul li:hover .back {
      transform: translateY(-50%) rotateX(0deg); }
    #services > ul li img {
      height: 4em;
      width: 4em; }
