---
---

.right
	text-align: right
//	color: #80d4cd
.circle
	border-radius: 50%
blockquote
	overflow: hidden
	footer
		float: right

header, main
	margin: 0 auto
	max-width: 1000px

header
	display: flex
	justify-content: space-between
	height: 8em
	padding: 1em 0
	font-family: 'Ubuntu', sans-serif
	a
		display: flex
		align-items: center
		color: inherit
		text-decoration: none
	img
		height: 8em
		display: inline
		padding: .4em
	h1, span
		font-size: 1.5em
		padding: 0 .2em

dl
	display: flex
	dt
		display: block
		font-weight: 700
	dd
		width: 16em
		img
			height: 4em
			width: 4em

body
	font-family: 'Open Sans', sans-serif
