---
---

$primary: #71cbcd
$background: #f6f6f6
$secondary: darken($background, 5%)

body
	margin: 0
	font-family: 'Lusitana', serif
	font-size: 1.1rem
	color: #333
	overflow-x: hidden

input[type=submit]
	background: $primary
	height: 3rem
	width: 8rem
	border-radius: 2px
	border: 1px solid darken($primary, 15%)
	transition: all .3s
	cursor: pointer
input[type=submit]:hover
	background: lighten($primary, 15%)
	border: 1px solid $primary


.right
	text-align: right
.circle
	border-radius: 50%
blockquote
	overflow: hidden
	cite
		float: right
		&:before
			content: "\2014  "
.hide-detail .detail
	display: none

section > *
	margin-left: auto
	margin-right: auto
	max-width: 1000px

h2
	position: relative
	z-index: 0
	max-width: none
	background: $secondary
	margin: 0
	line-height: 3rem
	text-align: center
	&:before
		content: ""
		position: absolute
		z-index: -1
		margin: 0 auto
		left: 0
		right: 0
		top: -4px
		width: 15rem
		background: url(/r/flag_blue.svg) no-repeat
		height: 200%

header
	position: fixed
	z-index: 9
	left: 0
	right: 0
	background: #fff
	padding: 1rem
	box-shadow: 0 0 2px #555

header > div
	font-family: 'Libre Baskerville', serif
	max-width: 1000px
	margin: 0 auto
	a
		display: inline-block
		height: 128px
		color: inherit
		text-decoration: none
	a:last-child
		float: right
		height: 96px
		padding: 16px
	img
		vertical-align: middle
		height: 100%
		padding: 0 .4rem
	h1, span
		display: inline-block
		vertical-align: middle
		font-size: 1.3rem
		font-weight: 400
		padding: 0 .2rem
		span
			// avoid double-padding nested <span>
			padding: 0
	h1
		font-size: 2rem

footer
	position: fixed
	z-index: 9
	bottom: 0
	left: 0
	right: 0
	background: #fff
	height: 8px
	padding: 1rem
	box-shadow: 0 0 2px #555
	font-size: 1rem

footer > address
	display: flex
	justify-content: space-between
	height: 100%
	max-width: 1000px
	margin-left: auto
	margin-right: auto
	font-style: normal
	a
		display: flex
		align-items: center
		height: 100%
		color: inherit
		text-decoration: none
	.a:before, .p:before, .e:before
		font-weight: 700
		padding-right: .5rem
	.a:before
		content: "A"
	.p:before
		content: "P"
	.e:before
		content: "E"



main
	// adjust for fixed header & footer
	padding-top: 10rem
	padding-bottom: 8px

#blurb, #quote, #call
	text-align: center
	background: $primary
	padding: 1rem

#services, #error
	background: $background url(/r/bg_hatch.png)
	border-bottom: 1px solid $secondary

#services > ul, #error > p
	padding: 2rem 0 0
	text-align: center
	h3
		font-weight: 700
		margin-bottom: 0
	li
		display: inline-block
		vertical-align: top
		list-style: none
		height: 17rem
		width: 33%
		min-width: 280px
		padding: 2rem 0 0
		.back
			padding: 0 5%
		img
			height: 4rem
			width: 4rem

#error
	position: absolute
	height: 70%
	width: 100%
	border: none
#error > p
	padding-top: 4rem

#about
	background: $background url(/r/bg_dot.png)
	border-bottom: 1px solid $secondary
	padding: 0 0 2rem
	h2
		margin: 0 0 2rem

#contact
	background: $background url(/r/bg_hatch.png)
	border-bottom: 1px solid $secondary
	padding-bottom: 2rem
	form
		padding: 3rem 0 0
		display: flex
		height: 16rem
		width: 100%
		textarea, input
			margin: 1rem
			padding: .5rem
		textarea
			flex: 2
		div
			flex: 1
			display: block
			input
				display: block

#about, #contact
	// adjust for fixed header & section blurb
	padding-top: 17rem
	margin-top: -17rem
	// prevent our padding hack from interfering with above element
	position: relative
	z-index: -7
#contact
	z-index: -8
// prevent our hack for the padding hack from preventing interaction with
// about and contact sections
body, main
	position: relative
	z-index: -9

#credit
	text-align: center
	color: #777
	padding: 1em 0 0
	a
		color: inherit
		transition: all .3s
		// expand clickable area of link
		padding: 2rem 3rem 2rem 12rem
		margin: -2rem -3rem -2rem -12rem
	a:hover
		color: darken(#ecce73, 15%)

@media screen and (max-width: 1274px)

@media screen and (max-width: 865px)
	header .detail
		display: none

@media screen and (max-width: 722px)
	main
		padding-top: 13.5rem
	header
		position: absolute
	header a:nth-child(1)
		margin-bottom: -2rem
		h1
			padding-bottom: 3rem
	header a:nth-child(2)
		margin-top: -2rem
		> span
			padding-top: 3rem
	#contact form
		padding-bottom: 6rem
		display: block
		textarea
			width: 80%
			height: 8rem
			margin-bottom: 0

@media screen and (max-width: 414px)
	main
		padding-top: 24rem
	header
		padding-bottom: 5.6rem
		text-align: center
		img, h1, span
			display: block
			margin: 0
		img
			margin: 0 auto
	header > div > a:last-child
		float: none

@media screen and (max-width: 800px)
	address .a
		display: none

@media screen and (max-width: 500px)
	address .e .detail
		display: none

@media screen and (max-width: 340px)
	address .e
		display: none
