<!doctype html>
<html>
<head>
	<title>Kirtland Consulting</title>
	<meta name="description" content="Kirtland Consulting provides strategy consulting, and helps organizations innovate and grow through strategic planning, revenue generation, and performance measurement.">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="/logo.jpg">
	<link rel="stylesheet" href="/main.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lusitana|Libre+Baskerville:400,700">
	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
	<script src="/main.js"></script>
</head>
<body id="top">

<header>
	<div>
	<a href="#top">
		<img src="/logo.jpg">
		<h1>Kirtland<br>Consulting<span class="detail">, LLC</span></h1>
	</a>
	<a href="#about">
		<span class="right">Caroline R. Taich<br><span class="detail">Founder &amp; Principal Consultant</span></span>
		<img src="/Caroline.jpg" class="circle">
	</a>
	</div>
</header>

{{ content }}

<footer>
	<address>
		<a class="a" href="https://www.google.com/maps/place/8679+Cardinal+Dr,+Kirtland,+OH+44094" target="_blank">8679 Cardinal Dr, Kirtland, OH 44094</a>
		<a class="p" href="tel:+12162462329">216 246 2329</a>
		<a class="e" href="mailto:'Caroline Taich'<caroline.taich@kirtlandconsulting.com>">caroline.taich@<span class="detail">kirtlandconsulting.com</span></a>
		<a href="#contact" class="button">Contact</a>
	</address>
</footer>

</body>
</html>
